<section id="contact-section">

  <div class="container">

    <h1>Contact Us</h1>
    <p>Any question? Leave us a message using the form below.</p>

    <div class="form-holder">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" placeholder="Your Name" class="form-control input-lg" required="true">
          </div>
          <div class="col-sm-6">
            <input type="email" placeholder="Your Email" class="form-control input-lg" required="true">
          </div>
          <div class="col-sm-12">
            <textarea placeholder="Your Message" class="form-control input-lg" required="true"></textarea>
          </div>
          <div class="col-sm-6 text-right">
            <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
