<section id="infographics-section" class="hidden-sm">
  <div class="container">
    <div class="text-center">
      <h3>Why Us?</h3>
      <h2>The Architect Of Future Dreams.</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="icon-col"><i class="fa fa-building"></i></div>
        <div class="text-col"><strong>4</strong><br>Different towns & cities</div>
      </div>

      <div class="col-md-4">
        <div class="icon-col"><i class="fa fa-university"></i></div>
        <div class="text-col"><strong>5</strong><br>Townships</div>
      </div>

      <div class="col-md-4">
        <div class="icon-col"><i class="fa fa-building-o"></i></div>
        <div class="text-col"><strong>8</strong><br>Different types of buildings</div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="icon-col"><i class="fa fa-home"></i></div>
        <div class="text-col"><strong>7000</strong><br>Houses built</div>
      </div>

      <div class="col-md-4">
        <div class="icon-col"><i class="fa fa-key"></i></div>
        <div class="text-col"><strong>1,4000</strong><br>Keys given to homeowners</div>
      </div>

      <div class="col-md-4">
        <div class="icon-col"><i class="fa fa-users" style="font-size: 50px;"></i></div>
        <div class="text-col"><strong>30,000</strong><br>People staying in our residences</div>
      </div>

    </div><!-- /row -->
  </div>

  <h2 class="text-center" style="margin-bottom: -20px; margin-top: 150px;">Breaking New Grounds</h2>
</section>

<script>
$(window).scroll(function() {
  $('.info-bar').each(function(){
  var imagePos = $(this).offset().top;

  var topOfWindow = $(window).scrollTop() + $(window).height();
    if (imagePos < topOfWindow) {
      $(this).addClass("stretchRight");
    }
  });
});
</script>
