<section id="hero-section" data-parallax="scroll" data-image-src="/assets/home/bg-hero.jpg" data-natural-width="2314" data-natural-height="985" data-position="center center" iosfix="false" androidfix="false" bleed="30">
  <div class="hero-content vertical-align">
    <h1>Brick by Brick,<br>We Built Homes.</h1>
  </div>
  <div class="scroll-down"><%= image_tag "home/scroll.png", alt: "" %></div>
</section>
