<section id="hero-section" data-parallax="scroll" data-image-src="home/bg-hero.jpg" data-natural-width="2560" data-natural-height="1393" data-position="center center" iosfix="false" androidfix="false" bleed="30">
  <div class="hero-content">
    <h1>Brick by Brick, We Built Homes.</h1>
  </div>
</section>
