<section id="intro-section">
  <%= image_tag "home/bg-intro.png", alt: "", class: "bg-intro hidden-xs" %>
  <div class="container">
    <h2>More than just a physical structure, we are building an emotional space to connect.</h2>
    <p>Every day since 1986, we have been asking ourselves: “What are we really

building?” Are we merely laying roof tiles or are we building a shelter? Are we merely

stacking bricks or are we building a warm place to grow up in, a place that brings

together our families? Are we merely cementing a structure or are we building a

place that we feel safe and secure?
</p><p>
So what are we really building?
</p><p>
More than just a physical structure, we are building an emotional space to connect.

We don’t build houses; we build homes.</p>
    <%= link_to "Learn about us", root_path, class: "btn btn-primary btn-lg" %>
  </div>
</section>
