<section id="intro-section">
  <div class="container">
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum</p>
    <%= link_to "Learn about us", root_path, class: "btn btn-primary btn-lg" %>
  </div>
</section>
