<section id="slider-section">

  <div id="home-slider" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="img-holder" style="background-image: url('/assets/home/sample.jpg');"></div>
      <div class="carousel-caption">
        <div class="container">
          <h3>Puchong Jaya</h3>
          <p>Lorem ipsum dolar sit amet</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-holder" style="background-image: url('/assets/home/sample.jpg');"></div>
      <div class="carousel-caption">
        <div class="container">
          <h3>Taman Ekar</h3>
          <p>Lorem ipsum dolar sit amet</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-slider" role="button" data-slide="prev">
    <%= image_tag "home/previous.png", alt: "" %>
  </a>
  <a class="right carousel-control" href="#home-slider" role="button" data-slide="next">
    <%= image_tag "home/next.png", alt: "" %>
  </a>
</div>

</section>
