<%= render partial: "home/hero" %>
<%= render partial: "home/intro" %>

<section id="infographics-section">
  <div class="container"><i class="fa fa-building-o"></i></div>
</section>

<%= render partial: "components/contact" %>
