#infographics-section {
  padding: 60px 0;
  background: lighten(#EFEFEF, 4%);

  h2 {
    color: $text-gold;
    margin-bottom: 40px;
  }

  h3 {
    color: #868686;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .row {
    padding: 40px 0;
  }

  .icon-col,
  .text-col {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-col i {
    font-size: 60px;
    color: $gold;
    margin-right: 15px;
  }

  .text-col {
    font-size: 16px;

    strong {
      color: #666;
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 10px;
      line-height: 1.4em;
    }
  }

}
