#infographics-section {
  padding: 60px 0;
  background: lighten(#EFEFEF, 4%);

  h2 {
    color: $text-gold;
    margin-bottom: 40px;
  }

  h3 {
    color: #868686;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .row {
    margin-bottom: 40px;
  }

  .bar-col {
    padding-left: 0;
    padding-top: 25px;

    .info-bar {
      height: 50px;
      margin-left: -100px;
      position: relative;
      z-index: 1;
      background: $gold !important;
    }
  }

  .text-col {
    font-size: 22px;
    color: #666;
    padding-right: 0;
    padding-top: 34px;

    strong {
      font-size: 34px;
      font-weight: 900;
      color: $red;
      margin-right: 6px;
    }
  }

  .icon-col {
    text-align: center;
    position: relative;
    z-index: 2;

    .icon-holder {
      display: inline-block;
      background: $gold;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding-top: 25px;
      background: $gold !important;

      .fa {
        color: #FFF;
        font-size: 50px;
      }
    }
  }
}
