/* -- SLIDER -- */

	#slider-main {
		margin: 0;
		padding: 0;
	}
	#slider-main li {
		min-height: 480px;
		background-size: cover !important;
		-webkit-background-size: cover !important;
		-o-background-size: cover !important;
		-moz-background-size: cover !important;
	}
	#home-slider .bx-wrapper .bx-viewport {
		min-height: 480px;
	}
	#slider-main .slider-content {
		position: absolute;
		text-align: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		color: #fff;
		z-index: 100;
	}
	#slider-main .slider-content.engage {
		bottom: 100px;
		top: auto;
	}
	#home-slider #bx-pager {
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 0;
		top: 0;
		left: auto;
		right: 30px;
		margin: auto;
		height: 100px;
	}
	#home-slider .bx-pager.bx-default-pager a {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: solid 3px #fff;
		background-color: transparent;
		margin: 0 0 30px 0;
		display: block;
		position: relative;
		z-index: 100;

		transition: background .3s ease;
		-o-transition: background .3s ease;
		-ms-transition: background .3s ease;
		-moz-transition: background .3s ease;
		-webkit-transition: background .3s ease;
	}
	#home-slider .bx-pager.bx-default-pager a:hover {
		background-color: #fff;
	}
	#home-slider .bx-pager.bx-default-pager a.active{
		background-color:#fff;
	}
	#home-slider .bx-controls {
		display: none;
	}
	#home-slider .bx-controls-direction {
		width: 100%;
		/*max-width: 1584px;*/
		position: relative;
		display: inline-block;
	}
	#home-slider .bx-wrapper .bx-controls-direction a {
		width: 42px;
		height: 41px;
		margin: 50px;
		margin-top: -16px;

		transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-webkit-transition: all .3s ease;
	}
	#home-slider .bx-wrapper .bx-controls-direction a:hover {
		background-color: transparent;
	}

	/* SPECIFIC SLIDES */

	#home-slider .engage h1 {
		margin: 0 0 55px 0;
	}
	#home-slider .engage .start-engaging {
		margin: 0 0 45px 0;
	}
	#home-slider .we-are-mods {
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 734px;
		border: solid 0px transparent;
	}
	#home-slider .we-are-mods img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		opacity: 0;

		transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		-ms-transition: opacity 1s ease;
		-moz-transition: opacity 1s ease;
		-webkit-transition: opacity 1s ease;
	}
	#home-slider .we-are-mods img.fadein {
		opacity: 1;
	}
	#home-slider .we-are-mods-bike {
		position: absolute;
		top: 0;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		min-height: 480px;
		z-index: 1;
		opacity: 0;

		transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		-ms-transition: opacity 1s ease;
		-moz-transition: opacity 1s ease;
		-webkit-transition: opacity 1s ease;
	}
	#home-slider .we-are-mods-bike.fadein {
		opacity: 1;
	}

	@media (max-height: 1220px) {
		#home-slider .we-are-mods {
			border: solid 0px transparent;
		}
	}
	@media (max-width: 2370px) {
		#home-slider .we-are-mods {
			border: solid 0px transparent;
			max-width: 700px;
		}
	}
	@media (max-height: 1060px) {
		#home-slider .we-are-mods {
			max-width: 640px;
		}
	}
	@media (max-width: 1020px) {
		#home-slider .we-are-mods {
			max-width: 600px;
		}
	}
	@media (max-height: 1000px) {
		#home-slider .we-are-mods {
			border-bottom: solid 150px transparent;
		}
	}
	@media (max-height: 930px) {
		#home-slider .we-are-mods {
			max-width: 580px;
		}
	}
	@media (max-height: 880px) {
		#home-slider .we-are-mods {
			max-width: 550px;
		}
	}
	@media (max-height: 850px) {
		#home-slider .we-are-mods {
			max-width: 540px;
		}
	}
	@media (max-height: 820px) {
		#home-slider .we-are-mods {
			max-width: 520px;
		}
	}
	@media (max-height: 780px) {
		#home-slider .we-are-mods {
			max-width: 510px;
		}
	}
	@media (max-height: 770px) {
		#home-slider .we-are-mods {
			max-width: 500px;
		}
	}
	@media (max-height: 760px) {
		#home-slider .we-are-mods {
			max-width: 490px;
		}
	}
	@media (max-height: 740px) {
		#home-slider .we-are-mods {
			max-width: 480px;
		}
	}
	@media (max-height: 730px) {
		#home-slider .we-are-mods {
			max-width: 470px;
		}
	}
	@media (max-height: 720px) {
		#home-slider .we-are-mods {
			max-width: 460px;
		}
	}
	@media (max-height: 690px) {
		#home-slider .we-are-mods {
			max-width: 450px;
			border-bottom: solid 90px transparent;
		}
	}
	@media (max-height: 680px) {
		#home-slider .we-are-mods {
			max-width: 440px;
		}
	}
	@media (max-height: 660px) {
		#home-slider .we-are-mods {
			max-width: 430px;
		}
	}
	@media (max-width: 930px) {
		#home-slider .we-are-mods {
			border-bottom: solid 90px transparent;
		}
	}
	@media (max-height: 640px) {
		#home-slider .we-are-mods {
			max-width: 410px;
			border-bottom: solid 40px transparent;
		}
	}
	@media (max-height: 620px) {
		#home-slider .we-are-mods {
			max-width: 400px;
		}
	}
	@media (max-height: 610px) {
		#home-slider .we-are-mods {
			max-width: 390px;
		}
	}
	@media (max-height: 610px) {
		#home-slider .we-are-mods {
			max-width: 390px;
		}
	}
	@media (max-height: 550px) and (max-width: 930px) {
		#home-slider .we-are-mods {
			border-bottom: solid 70px transparent;
		}
	}
	@media (max-height: 520px) and (max-width: 930px) {
		#home-slider .we-are-mods {
			border-bottom: solid 100px transparent;
		}
	}



	@media (max-width: 900px) {
		#slider-main .slider-content.engage {
			padding: 20px;
		}
	}

	@media (max-height: 710px) {

		#home-slider .engage h1 {
			margin: 0 0 25px 0;
		}
		#home-slider .we-are-mods {
			/*max-width: 500px;
			border-bottom: solid 100px transparent;*/
		}
		#home-slider .engage .start-engaging {
			margin: 0 0 20px 0;
		}
	}
	@media (max-height: 640px) {
		#slider-main .slider-content.engage {
			top: auto !important;
			bottom: 20px;
		}
		/*
		#home-slider .we-are-mods {
			max-width: 440px;
		}
		*/
	}




	@media (max-height: 600px) {
		#home-slider .we-are-mods {
			z-index: 1;
		}
	}
	@media (max-width: 700px) {
		#home-slider #bx-pager {
			top: auto;
			bottom: 15px;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			height: 30px;
		}
		#home-slider .bx-pager-item {
			display: inline-block;
			margin: 0 10px;
		}
		#home-slider .bx-pager.bx-default-pager a {
			display: inline-block;
			margin: 0 0 0 0;
		}
	}
	@media (max-width: 350px) {
		#home-slider .engage .start-engaging {
			margin: 0 0 40px 0;
		}
	}

	@media (min-width: 535px) {
		#slider-main li {
			min-height: 500px;
		}
		#home-slider .bx-wrapper .bx-viewport {
			min-height: 500px;
		}
		#home-slider .we-are-mods-bike {
			min-height: 500px;
		}
	}






#know {
  padding: 200px 0;
  width: 100%;
  text-align: center;
}
.mobile #know {
  background: url('../img/know-video-bg.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
@media (max-width: 1024px) {
  #know {
    background: url('../img/know-video-bg.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
  }
}
#know .content-container {
  display: inline-block;
  max-width: 1440px;
  width: 80%;
  text-align: left;
}
#know .inside-content {
  display: inline-block;
  max-width: 722px;
  text-align: left;
}
#know-play-button {
  background: #fff;
  width: 157px;
  height: 157px;
  margin: 60px 0 80px 0;
  border-radius: 50%;
  overflow: hidden;
  border: solid 8px #fff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#know-play-anchor {
  position: absolute;
  z-index: 2;
  width: 157px;
  height: 157px;
  top: 0;
  left: 0;
}
#know-play-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  background: url('../img/know-btn.png') no-repeat center center;
  background-size: 27px 39px;
  width: 27px;
  height: 39px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.mobile #know-play-button {
  background: url('../img/know-video-play.png') no-repeat center center;
  background-size: 157px 157px;
}
#know-video-container {
  -webkit-mask-image: url('../img/video-mask-2.svg');
}
#know h2 {
  color: #fff;
  margin: 0 0 20px 0;
}
#know .tagline {
  margin: 0 0 65px 0;
}
#know p {
  margin: 0;
  color: #fff;
}

@media (max-width: 700px) {
  /*
  #know-play-button {
    background: url('../img/know-video-play.png') no-repeat center center;
    background-size: 88px 88px;
    width: 88px;
    height: 88px;
    margin: 20px 0 60px 0;
  }
  */
  #know {
    padding: 100px 0;
  }
  #know .content-container {
    text-align: center;
  }
  #know .inside-content {
    width: 100%;
    text-align: center;
  }
}
