<div id="about-banner" data-parallax="scroll" data-image-src="/assets/infos/bg-green.jpg" data-natural-width="2000" data-natural-height="730" data-position="center center" iosfix="false" androidfix="false" bleed="30">
  <%= image_tag "infos/green-building.png", alt: "", class: "green-building" %>
  <h1 class="vertical-align">Build A Home. Build A Future.</h1>
  <div class="logo-circle"><%= image_tag "logo.png", alt: "" %></div>
</div>

<section id="about-section">
  <div class="container">
    <h3>Great entrepreneurs have a skill that sets them apart from others: the ability to turn difficulties into opportunities.</h3>
    <p>In the mid-80’s, Malaysia fell into an economic recession and there was a void in the market for new homebuyers. At that time, house prices were too expensive and out of reach. It was then when our founder, the late Dato Ken Cheok saw a great need to support these new homebuyers. Armed with a simple vision of building “comfortable homes at affordable prices”, Taman Ekar Sdn Bhd was founded and since then, grew to build some of the most iconic developments in the southern part of the country.</p>
    <p>Taman Ekar’s first project was to develop a special low-cost township called Bandar Sunggala in Port Dickson, Negeri Sembilan. This was in line with the 5th Malaysian Plan to supply affordable housing to the masses. Realizing how important a self-contained township is where the needs of its residents were catered, Dato Ken Cheok’s envisioned designing and constructing communities of homes which emphasised on harmonious living apart from being just cost effective.</p>
    <br>
    <h3>“4 things we need to build homes: bricks, cement, wood and passion”<br><small>- Dato Cheok Kian Yek</small></h3>
    <p>The success of the first project was only the beginning. Backed by a strong founder’s vision and a great team, the company continued to excel in many other successful developments that continue to inspire many as well as capture the envy of others.</p>
    <p>Today, Taman Ekar has completed many different townships throughout Malaysia through its many different subsidiaries. From the low-cost quality homes in Bandar Sunggala to the exquisite Roman-style villas perched on top Bukit Permata, the company has built over 7000 houses that are still enjoyed by many families to this day.</p>
    <p>As the developer that built the first condominium in Seremban, we are also among the largest that brought about many other firsts to the state. We pioneered the concept of cluster homes, introduced new technologies such as pre-fabricated housing and utilized load-sharing walls to stabilize our structures.</p>
    <p>There is no secret to our success. It is merely about waking up each day to do what the company was founded to do: building homes we can be proud of. As we continue to achieve and innovate, we strive hard to keep raising the bar in providing high quality yet affordable homes for people to enjoy.</p>
  </div>
</section>
