<%= render partial: "components/header" %>

<section id="career-section">

  <div class="container">

    <h1>Unleash Your Potential!</h1>
    <p>Are you driven, ambitious and are looking for a place where your skills can shine?

Come join our team! At Ekar, “people first” is not just a phrase; we live it in all we do.

Write to us at the Contact Page.</p>
    <a href="#" class="btn btn-lg btn-primary">Join Us</a>
  </div>

</section>

<%= render partial: "components/footer" %>
