<section id="tribute-section">

  <div id="tribute-slider" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="container">
        <h1 class="vertical-align">Dato Cheok Kian Yek, the founder of Ekar, not only built many homes but also a lasting legacy. Here, we remember Dato Cheok and the vision he built.</h1>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/dad-cutting-ribbon.jpg" %></div></div>
          <div class="col-sm-5">
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
    </div><!-- /item -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#tribute-slider" role="button" data-slide="prev">
    <%= image_tag "home/previous.png", alt: "" %>
  </a>
  <a class="right carousel-control" href="#tribute-slider" role="button" data-slide="next">
    <%= image_tag "home/next.png", alt: "" %>
  </a>
</div>

</section>
